<footer class="bloc bgc-atomic-tangerine d-bloc" id="bloc-8">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center white">
          La chouette agence - Agence de web design basée à Lyon.
        </h2>

        <nav class="row row-no-gutters social">
          <div class="col-sm-3 text-center">
            <a class="social" href="#">
              <span class="fa fa-twitter icon-md"></span>
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a class="social" href="#">
              <span class="fa fa-facebook icon-md"></span>
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a class="social" href="#">
              <span class="fa fa-dribbble icon-md"></span>
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a class="social" href="#">
              <span class="fa fa-instagram icon-md"></span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
