<header class="bloc bgc-white l-bloc">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img
            src="img/logo-la-chouette-agence.png"
            alt="La chouette agence"
            height="40"
          />
        </a>

        <button
          class="ui-navbar-toggle navbar-toggle"
          id="nav-toggle"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a 
              <% if (activeLink === "accueil") { %>
                href="#"
              <% } else { %>
                href="index.html"
              <% } %>
            >
              Accueil
            </a>
          </li>
          <li>
            <a 
            <% if (activeLink === "contact") { %>
              href="#"
            <% } else { %>
              href="contact.html"
            <% } %>
            >
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
