<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta
    name="description"
    content="La chouette agence, à Lyon. Confiez votre projet de site internet aux experts lyonnais du web design."
  />
  <meta name="author" content="Lowic Mangin, pour La chouette agence" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <meta
    name="keywords"
    content="agence web design, web design, web, design, internet, site, site web, site internet, Lyon"
  />

  <link rel="shortcut icon" type="image/png" href="favicon.jpg" />

  <!-- CSS and icons: -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="./css/et-line.css" />

  <link rel="stylesheet" type="text/css" href="./css/main.css" />

  <!-- jQuery, Bootstrap, Google Maps: -->
  <script src="./js/jquery-2.1.0.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/blocs.js"></script>
  <script src="./js/jquery.touchSwipe.js" defer></script>
  <script src="./js/gmaps.js"></script>

  <!-- Analytics: -->
</head>